{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
    <div class="u-expanded-height-lg u-expanded-height-md u-expanded-height-xl u-palette-2-light-2 u-shape u-shape-rectangle u-shape-1 animated flipInX-played" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500" style="will-change: transform; animation-duration: 1500ms;"></div>
    <section class="u-clearfix u-section-1" id="carousel_bfb6">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-height-lg u-expanded-height-md u-expanded-height-xl u-palette-2-light-2 u-shape u-shape-rectangle u-shape-1 animated flipInX-played" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="500" style="will-change: transform; animation-duration: 1500ms;"></div>
        <img src="{% static 'img/main.jpg' %}" class="u-align-left u-image u-image-1 animated customAnimationIn-played" data-image-width="1050" data-image-height="700" data-animation-name="customAnimationIn" data-animation-duration="1500" style="will-change: transform, opacity; animation-duration: 1500ms;">
        <div class="u-align-left u-container-style u-group u-white u-group-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1500ms;">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-text u-text-1">Moire</h2>
            <p class="u-text u-text-2">Красота начинается с белья</p>
            <a href="#" class="u-active-palette-2-base u-align-left u-black u-btn u-button-style u-hover-palette-2-base u-btn-2 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="" style="will-change: transform, opacity; animation-duration: 1500ms;">Learn More</a>
          </div>
        </div>
        <div class="u-palette-2-light-2 u-shape u-shape-circle u-shape-2 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1500ms;"></div>
      </div>
    </section>
    <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-2-light-2 u-section-2" id="carousel_84d1">
      <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
      <div class="u-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs">
          <h2 class="u-align-center u-text u-text-body-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Moire 2023 collections</h2>
        </div>
      </div>
      <div class="u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="1380" data-image-height="920">
              <img class="u-back-image u-expanded" src="{% static 'img/cat1.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle" data-image-width="600" data-image-height="750">
            <div class="u-back-slide" data-image-width="740" data-image-height="1110">
              <img class="u-back-image u-expanded" src="{% static 'img/cat2.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="626" data-image-height="501">
              <img class="u-back-image u-expanded" src="{% static 'img/cat3.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="626" data-image-height="462">
              <img class="u-back-image u-expanded" src="{% static 'img/cat4.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="1050" data-image-height="700">
              <img class="u-back-image u-expanded" src="{% static 'img/cat5.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-5"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="1050" data-image-height="700">
              <img class="u-back-image u-expanded" src="{% static 'img/cat6.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-6"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="988" data-image-height="920">
              <img class="u-back-image u-expanded" src="{% static 'img/cat7.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-7"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="728" data-image-height="855">
              <img class="u-back-image u-expanded" src="{% static 'img/cat8.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-8"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide" data-image-width="1034" data-image-height="920">
              <img class="u-back-image u-expanded" src="{% static 'img/cat9.jpg' %}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-9"></div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}