{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{% if title %}
{{ title }}
{% else %}
Оформление заказа
{% endif %}
{% endblock %}

{% block content %}
<main class="content container">
    <div class="content__top">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{% url 'catalog_app:catalog' %}">
            Оформление заказа
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{% url 'cart:cart_detail' %}">
            Корзина
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">
            Оформление заказа
          </a>
        </li>
      </ul>

      <div class="content__row">
        <h1 class="content__title">
          Оформление заказа
        </h1>
      </div>
    </div>

    <section class="cart">
      <form class="cart__form form" method="POST">
        {% csrf_token %}
        <div class="cart__field">
          <div class="cart__data">
            <label class="form__label">
              <input class="form__input" type="text" name="name" placeholder="Введите ваше полное имя">

            </label>

            <label class="form__label">
              <input class="form__input" type="text" name="address" placeholder="Введите ваш адрес">

            </label>

            <label class="form__label">
              <input class="form__input" type="tel" name="phone" placeholder="Введите ваш телефон">

              <span class="form__error">Неверный формат телефона</span>
            </label>

            <label class="form__label">
              <input class="form__input" type="email" name="email" placeholder="Введи ваш Email">

            </label>

            <label class="form__label">
              <textarea class="form__input form__input--area" name="comment" placeholder="Ваши пожелания"></textarea>

            </label>
          </div>

          <div class="cart__options">
            <h3 class="cart__title">Доставка</h3>
            <ul class="cart__options options">
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="delivery" value="SD" checked="">
                  <span class="options__value">
                    Самовывоз <b>бесплатно</b>
                  </span>
                </label>
              </li>
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="delivery" value="CO">
                  <span class="options__value">
                    Курьером <b>500 ₽</b>
                  </span>
                </label>
              </li>
            </ul>

            <h3 class="cart__title">Оплата</h3>
            <ul class="cart__options options">
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="paid_variant" value="CARD" checked="">
                  <span class="options__value">
                    Картой при получении
                  </span>
                </label>
              </li>
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="paid_variant" value="CASH">
                  <span class="options__value">
                    Наличными при получении
                  </span>
                </label>
              </li>
            </ul>
          </div>
        </div>

        <div class="cart__block">
          <ul class="cart__orders">
            {% for item in cart %}
            <li class="cart__order">
              <h3>{{item.item.title}}</h3>
              <b>{{item.total_price}} ₽</b>
              <span>Артикул: {{item.item.id}}</span>
            </li>
            {% endfor %}
          </ul>

          <div class="cart__total">
            <p>Итого товаров: <b>{{total_quantity}}</b> на сумму <b>{{cart.get_total_price}} ₽</b></p>
          </div>

          <button class="cart__button button button--primery" type="submit">
            Оформить заказ
          </button>
        </div>
        <div class="cart__error form__error-block">
          <h4>Заявка не отправлена!</h4>
          <p>
            Похоже произошла ошибка. Попробуйте отправить снова или перезагрузите страницу.
          </p>
        </div>
      </form>
    </section>
  </main>
{% endblock %}